<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"> 
	<dict> 
		<key>items</key> 
		<array> 
			<dict> 
				<key>assets</key> 
				<array> 
					<dict> 
						<key>kind</key> 
						<string>software-package</string> 
						<key>url</key> 
						<string>https://github.com/fengqingyundan6316/ceshi/raw/main/aaa.ipa</string> 
					</dict> 
					<dict> 
						<key>kind</key> 
						<string>full-size-image</string> 
						<key>needs-shine</key> 
						<false /> 
						<key>url</key> 
						<string>https://cdn-app-icon.pgyer.com/7/5/2/8/6/75286726fe68acc6bb6aae9d3ead0cf7?x-oss-process=image/resize,m_lfit,h_120,w_120/format,jpg</string> 
					</dict> 
					<dict> 
						<key>kind</key> 
						<string>display-image</string> 
						<key>needs-shine</key> 
						<false /> 
						<key>url</key> 
						<string>https://cdn-app-icon.pgyer.com/7/5/2/8/6/75286726fe68acc6bb6aae9d3ead0cf7?x-oss-process=image/resize,m_lfit,h_120,w_120/format,jpg</string> 
					</dict> 
				</array> 
				<key>metadata</key> 
				<dict> 
					<key>bundle-identifier</key> 
					<string>cn.com.ecinc.EmoaIPhoneJY-WH</string> 
					<key>bundle-version</key> 
					<string>1.0</string> 
					<key>kind</key> 
					<string>software</string> 
					<key>subtitle</key> 
					<string>移动办公</string> 
					<key>title</key> 
					<string>移动办公</string> 
				</dict> 
			</dict> 
		</array> 
	</dict> 
</plist>
